@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-4xl font-bold;
    }
    h2 {
        @apply text-3xl font-bold;
    }
    h3 {
        @apply text-2xl font-bold;
    }
    h4 {
        @apply text-xl font-bold;
    }
    h5 {
        @apply text-lg font-bold;
    }
    h6 {
        @apply text-base font-bold;
    }

    h1, h2, h3, h4, h5, h6 {
        scroll-margin-top: 100px;
    }

    ul {
        @apply list-inside ml-6;
    }
    /* ul ul{
        list-style-type: square;
    } */
    li {
        @apply my-1;
    }

}

body {
    color: theme('colors.gray.100');
    background-color: theme('colors.gray.800');
}

body::after, body::before {
    content: '';
    position: absolute;
    top: -200px;
    width: 0;
    height: 9rem;
    filter: blur(9rem);
    border-radius: 50%;
    animation: grow 1s 1s forwards;
    z-index: 1;
}

body::after {
    background: linear-gradient(to bottom, transparent, theme('colors.cyan.400'), transparent);
    transform-origin: top left;
    transform: rotateZ(60deg);
    left: 150px;
}


body::before {
    background: linear-gradient(to bottom, transparent, theme('colors.indigo.300'), transparent);
    transform-origin: top right;
    transform: rotateZ(-60deg);
    right: 150px;
}

@keyframes grow {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}

body * {
    z-index: 2;
}
html {
    scroll-behavior: smooth;
    color-scheme: dark light;
}
